
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 100px;
}

main {
  margin-top: 141px;
  top: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  z-index: 999;
}

.list__bullet {
  background-color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: none;
}

.header__container, .hero__container, .feauture__container, .plan__container {
  max-width: 1070px;
  margin-inline: auto;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  gap: 49px;
  max-width: 330px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header__list-items a {
  font-weight: 700;
  font-size: 15px;
  letter-spacing: -0.47px;
  color: #696871;
}

.header__list-items .active {
  color: #19191B;
  border-bottom: #19191B 2px solid;
  padding-bottom: 10px;
}

.header__list-link {
  transition: all 0.3s ;
}

.header__list-link:hover {
  color: #19191B
}

.header__button, .hero__scroll, .hero__button{
  padding: 19px 60px;
  color: white;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: -0.53px;
  border-radius: 10px;
  transition: all 0.3s;
  align-items: center;
}

.header__button {
  background-color: #FF7143;
}

.header__button:hover, .hero__button:hover, .hero__scroll:hover{
  transform: scale(1.1);
  opacity: 80%;
}

.hero {
  padding-block: px;
}

.hero__container {
  position: relative;
}

.hero__image {
  position: absolute;
  top: 0;
  right: -71px;
}

.hero__title {
  font-weight: 700;
  font-size: 80px;
  line-height: 77px;
  letter-spacing: -2.5px;
}

.hero__desc {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.63px;
  color: #696871;
  margin-top: 30px;
}

.hero__buttons {
  margin-top: 50px;
  display: flex;
  gap: 40px;
}

.hero__button {
  background-color: #5454D4;
}

.hero__scroll {
  color: #5454D4;
  border: 2px solid #5454D4;
}

.hero__content {
  max-width: 429px;
}

.feauture, .plans {
  padding-block: 30px;
}

.feauture{
  margin-top: 100px;
  margin-block: 20px;
}
.feauture__container {
  display: flex;
  align-items: center;
  gap: 171px;
}


.feauture__image {
  max-width: 349px;
  display: flex;
}

.feauture__title, .plan__title {
  font-size: 50px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: -1.56px;
  margin-bottom: 38px;
}

.feauture__input {
  position: relative;
}

.feauture__input-line {
  width: 288px;
  height: 58px;
  border: 2px solid #7087FF;
  border-radius: 10px;
  padding-left: 14px;
  font-family: inherit;
  font-size: 17px;
  font-weight: 700;
  outline: none;
}

.feauture__input-line:focus {
  outline: none;
}

.labelactive {
  position: absolute;
  top: -10px;
  left: 21px;
  color: grey;
  backdrop-filter: blur(5px);
}


.label {
  font-family: inherit;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: -0.53px;
  position: absolute;
  top: 20px;
  left: 21px;
  color: grey;
}




.feauture__button {
  margin-left: 39px;
  padding: 19px 60px;
  border-radius: 10px;
  background-color: #5454D4;
  border: none;
  color: white;
  font-family: inherit;
  font-weight: 700;
}

.plan__cards {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 40px;
  height: 470px;
}

.plan__a {
  background-color: #F8F8F8;
  padding-block: 34px 27px;
  padding-inline: 24px;
  border-radius: 10px;
  text-align: center;
}

.plan-a__title  {
  font-size: 18px;
  font-weight: 200;
  line-height: 28px;
  letter-spacing: -0.56px;
  color: #696871;
  margin-bottom: 22px
}

.plan-a__prise {
  font-size: 60px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -1.03px;
  margin-bottom: 28px;
}

.plan-a__description {
  line-height: 50px;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: -0.56px;
  color: #696871;
  margin-bottom: 36px
}

.plans__button {
  padding: 19px 42px 19px 42px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #FFF;
  transition: all 0.3s;
}

.plan__b {
  background-color: #FF7143;
  padding-block: 34px 27px;
  padding-inline: 24px;
  border-radius: 10px;
  text-align: center;
}

.plan-b__title  {
  font-size: 18px;
  font-weight: 200;
  line-height: 28px;
  letter-spacing: -0.56px;
  color: rgb(255, 255, 255, 70%);
  margin-bottom: 22px;
}

.plan-b__prise {
  font-size: 60px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -1.03px;
  margin-bottom: 18px;
  color: #FFF;
}

.plan-b__description {
  line-height: 50px;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: -0.56px;
  color: #FFF;
  margin-bottom: 36px
}

.plans__button-b {
  padding: 19px 42px 19px 42px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #9F3919 ;
  transition: all 0.3s;

}

.plans__button-b a {
    color: white;
}

.month {
  font-size: 30px;
}

.plan__c {
  background-color: #F8F8F8;
  padding-block: 34px 27px;
  padding-inline: 24px;
  border-radius: 10px;
  text-align: center;
}

.plan-c__title  {
  font-size: 18px;
  font-weight: 200;
  line-height: 28px;
  letter-spacing: -0.56px;
  color: #696871;
  margin-bottom: 18px;
}

.plan-c__prise {
  font-size: 60px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -1.03px;
  margin-bottom: 22px;
}

.plan-c__description {
  line-height: 50px;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: -0.56px;
  color: #696871;
  margin-bottom: 36px;
}

.plans__button:hover {
  opacity: 70%;
}

.plans__button:hover a {
  color: black;
  font-weight: 500;
}

.plans__button-b:hover{
  opacity: 70%;
  font-weight: 500;
}

.logo__alt {
  display: none;
}

.allrights {
  font-family: inherit;
  color: grey;
}
@media screen and (max-width: 500px) {

  body {
    max-width: 100vw;
    position: relative;
  }

  .header {
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  width: 100vw;
  background-color: white;
}

.header__list {
  display: none;
}


.list__bullet {
  background-color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inherit;
}

.active {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: right;
  background-color: rgb(201, 193, 193);
  right: 10px;
  top: 50px;
  padding: 20px;
  padding-bottom: 30px;
  z-index: 999;
  border-radius: 10px;
  width: 70px;
  box-shadow: 4px 4px 8px 0px rgb(109, 116, 150);


}



.header__container, .hero__container, .feauture__container, .plan__container {
  max-width: 100%;
  margin-inline: 10px;
}

.hero__container {
  margin-bottom: 0;
  padding-bottom: 0;
}

.logo {
  display: none;
}

.logo__alt {
  display: inherit;
}

.hero__title {
  font-size: 35px;
  line-height: 35px;
}

.hero__desc {
  font-size: 18px;
  line-height: 25px;
}

.hero__image {
  display: none;
}

.hero__button {
  display: flex;
  padding: 15px;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}

.hero__buttons {
  gap: 20px;
}

.hero__scroll {
  display: flex;
  padding: 10px;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}

.feauture__image {
  position: absolute;
  top: 190px;
  right: 10px;
  max-width: 125px;
  text-align: center;
}

.feauture__title {
  font-size: 30px;
  padding-top: 0;
}

.feauture__container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
  max-height: fit-content;
}

.feauture__content {
  display: flex;
  flex-direction: column;
}

.feauture__input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
}

.feauture__button {
  padding: 15px;
  width: 288px;
  margin: 0;
}

.plan__title {
  font-size: 38px;
  line-height: 38px;
}

.plan__cards {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  height: fit-content;
  margin-bottom: 10px;
}

.plan-a__title, .plan-b__title, .plan-c__title {
  margin: 0;
  padding: 0;
}

.plan-a__prise, .plan-b__prise, .plan-c__prise {
  font-size: 30px;
  padding: 0;
  margin: 0;
}

.plan-a__description, .plan-b__description, .plan-c__description {
  margin: 0;
  padding: 0;
}

.month {
  font-size: 20px;
}

.plan__a, .plan__b, .plan__c {
  max-height: 300px;
}

.plans {
  padding-bottom: 0;
  margin-bottom: 0;
}
.header__button {
  display: none;
}
}